@inject NavigationManager nav
@inject ILocalStorageService localstorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout" class="btn btn-danger">Logout</button>
    </Authorized>
    <NotAuthorized>
                <button @onclick="Login" class="btn btn-primary">Login</button>
    </NotAuthorized>
</AuthorizeView>


@code {

    void Login()
    {
        nav.NavigateTo("login");
    }

    async Task Logout()
    {
        await localstorage.RemoveItemAsync("token");
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
